/* Tailwind Directives */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Theme Variables - Light Mode */
@layer base {
  :root {
    --foreground: 234, 21%, 37%;
    
    
    /* UI Colors */
    --primary-foreground: 0 0% 100%;
    
    --destructive: 0 100% 75%;
    --destructive-background: 4, 79%, 96%;

    --success: 153, 64%, 43%;

    /* Gradient Colors */
    --background-top: 212, 100%, 98%;
    --background-bottom: 212, 79%, 93%;
    --primary-left: 205, 100%, 72%;
    --primary-right: 231, 100%, 65%;
    
    /* Functional Colors */
    --border: 214, 36%, 59%;
    --placeholder: 214, 36%, 59%;
    --ring: 231, 100%, 65%;
    

    --radius: 10px;
    --radius-lg: 30px;
  }
}

/* Base Styles */
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-gradient-to-b from-background-top to-background-bottom text-foreground;
  }

  html, body, #root {
    @apply h-full;
  }
}